/* Login.css */

/* Login.css */

.login-page {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-page:hover{ 
  box-shadow: 1px 8px 20px grey;
 
}

.login-page.dark-mode {
  background-color: #333;
  color: white;
}

.login-page h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #0056b3;
}

/* Add a little more space between the form and the "New user?" link */
.login-page p {
  margin-top: 15px;
}


.login-page {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .login-page.dark-mode {
    background-color: #333;
    color: white;
  }
  
  .login-page h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #0056b3;
  }
/* Add this to your CSS to style the link in dark mode */
.forgot-password {
  color: #007bff; /* Set the color to the default hyperlink color */
  text-decoration: underline;
}
.dark-mode .forgot-password {
  color: #007bff; /* Set the color to the default hyperlink color */
}
.dark-mode .forgot-password:hover {
  text-decoration: underline; /* Add underline on hover in dark mode */
}
